
<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://github.com/hamartia20070/bug-tracker-wepapp">
              GitHub For Source Code
            </a>
          </li>
          <li>
            <a href="https://github.com/hamartia20070/">
              About Me
            </a>
          </li>
          <li>
            <a href="https://github.com/hamartia20070/bug-tracker-wepapp">
              Write up
            </a>
          </li>
          <li>
            <a href="https://github.com/hamartia20070/bug-tracker-wepapp">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        made with <i class="material-icons">favorite</i> by
        <a href="https://github.com/hamartia20070/" target="_blank">Gergely Kondas</a>
      </div>
    </div>
  </footer>
