<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Tickets</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Created</th>
        <th>Created By</th>
        <th>Assigned To</th>
        <th>Priority</th>
        <th>Tags</th>
      </thead>
      <tbody>
        <tr
          app-tickets-card-row
          *ngFor="let ticket of tickets"
          [ticket]="ticket"
        ></tr>
      </tbody>
    </table>
    <button
      type="button"
      rel="tooltip"
      title="Previous 10 Tickets"
      class="btn btn-primary btn-link btn-sm"
      (click)="previousTickets()"
    >
      <i class="material-icons">chevron_left</i>
    </button>
    <button
      type="button"
      rel="tooltip"
      title="Next 10 Tickets"
      class="btn btn-primary btn-link btn-sm"
      (click)="nextTickets()"
    >
      <i class="material-icons">chevron_right</i>
    </button>
  </div>
</div>
