<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-stats col-md-8 center">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>

            <h3 class="card-title" >Register</h3>
          </div>
          <div class="card-category">
            <form #regForm="ngForm" (ngSubmit)="onRegister(regForm)">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username</label>
                    <input type="text" ngModel name="username" class="form-control" #input required maxlength="45"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    <input type="email" ngModel name="email" class="form-control"  #input required maxlength="45"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Phone No</label>
                    <input type="tel" ngModel name="phone_no" class="form-control" #input required maxlength="45"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Password</label>
                    <input type="password" ngModel name="password" class="form-control" #input required maxlength="200"/>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right" [disabled]="regForm.invalid">
                Register
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <!--<div class="card card-stats col-md-4">
          </div>-->
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-stats col-md-8 center">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>

            <h3 class="card-title">Login</h3>
          </div>
          <div class="card-category">
            <form #loginForm="ngForm" >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username</label>
                    <input type="text" ngModel name="username" class="form-control" #input required maxlength="45" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Password</label>
                    <input type="password" ngModel name="password" class="form-control" #input required maxlength="200"/>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary" (click)="onLogin(loginForm,'demo')">
                Login as demo
              </button>
              <button type="submit" class="btn btn-primary pull-right" [disabled]="loginForm.invalid" (click)="onLogin(loginForm,'normal')">
                Login
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <!--<div class="card card-stats col-md-4">
          </div>-->
    </div>
  </div>
</div>
